appname = TravelSphere
httpport = 8080
runmode = dev

sessionon = true
sessionname = travelsphere_session

opentripmap_api_key = YOUR_KEY_HERE
restcountries_api_key =YOUR_KEY_HERE

wishlist_store_path = data/wishlist.json
restcountries_base_url = https://api.restcountries.com/countries/v5
opentripmap_base_url   = https://api.opentripmap.com/0.1/en/places
EnableDocs = true